# Pinecone Configuration
PINECONE_API_KEY=your-pinecone-api-key
PINECONE_ENVIRONMENT=your-pinecone-env
PINECONE_INDEX=your-pinecone-api-index-name

# Server Configuration
PORT=5000
NODE_ENV=development

# HuggingFace API Configuration
HUGGINGFACE_API_KEY=your_huggingface_api_key
